@font-face {
  font-family: 'Bochan';
  src: url('./assets/fonts/Bochan.otf') format('opentype');
}
@font-face {
  font-family: 'BochanAlternative';
  src: url('./assets/fonts/BochanAlternative.otf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary mx-2 text-black flex flex-col min-h-screen;
}
li {
  @apply font-bochanstyled text-gold text-3xl;
}
